.user_body{
    border: 2px solid black;
    height: 120vh;
    display: flex;
    flex-direction: column;
   
}
.user_form > h1{
  
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
    
}
.user_form > h3 {
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
}
.user_form > form{
    border: 2px solid #DEF1FF;
    background-color: #DEF1FF;
    box-shadow: 5px 10px lightgray;
    height: 25vh;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.user_form > form > button {
    width: 100px;
    margin: auto;
    background-color: #3F8AC0;
    outline: none;
    font-weight: 500;
}
.user_form > form > button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.user_form > form > label{
   
    margin-top: 0.6rem;
    font-size: 1.3rem;
}

.user_results{
    border: 2px solid #DEF1FF;
    box-shadow: 5px 10px lightgray;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-color: #DEF1FF;
}
.user_results > p{
    margin-top: 0;
}

#purity{
    width: 50px;
}
#mensesSD,   #mensesNSD{
    font-size: 1.5rem;
    color: rgb(141, 30, 15);
}
#mensesED{
    font-size: 1.5rem;
    color: rgb(86, 148, 24);
}
#mensesD{
    color: rgb(225, 225, 236);
    font-size: 2.5rem;
    border: 1px black;
    background-color: #3F8AC0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    margin-top: 1rem;
    border-radius: 200px;
}
#mensesNESD{
    box-shadow: 2.5px 5px lightgray;
    background-color: white;
    padding: 5px;
    color: rgb(141, 30, 15);
    font-size: 1.5rem;
    margin-top: 0;

}

 #mensesNEED{
    box-shadow: 2.5px 5px lightgray;
    color: rgb(47, 78, 16);
    padding: 5px;
    background-color: white;;
    font-size: 1.5rem;
    margin-top: 0;
}