.user_body{
    border: 2px solid black;
    height: 120vh;
    display: flex;
    flex-direction: column;
   
}
.user_form > h1{
  
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
}
.user_form > form{
  
    height: 25vh;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.user_form > form > button {
    width: 100px;
    margin: auto;
    background-color: #3F8AC0;
    outline: none;
    font-weight: 500;
}
.user_form > form > button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.user_form > form > label{
    margin-top: 0.6rem;
    font-size: 1.3rem;
}

.user_results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#purity{
    width: 50px;
}
#mensesSD,   #mensesNSD{
    font-size: 1.5rem;
    color: darkred;
}
#mensesED{
    font-size: 1.5rem;
    color: green;
}
#mensesD{
    color: rgb(105, 115, 255);
    font-size: 3rem;
    border: 1px black;
}
